hr {
  width: 100%;
  border-top: 2px solid #E6C5D5;
}

.banner, .banner img {
  width: 100%;
}

#projects {
  margin-bottom: 30px;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin: 30px 30px 30px 15px;
}

li {
  padding-bottom: 10px;
}

.block {
  color: #fff;
  background-color: #1687F3;
  padding: 6px 8px;
  font-size: 22px;
}

h1 img {
  width: 65px;
}

.h {
  list-style-type: none;
}

.h li {
  display: block;
  clear: both;
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 2px dashed #ddd;
}

.h li:last-child {
  border-bottom: none;
}

.h li img {
  position: relative;
  width: 20%;
  float:left;
  margin-right: 20px;
}

.h li p {
  position: relative;
  display: inline;
  float: left;
  margin-top: 15px;
  width: 70%;
}

.h li:after, .h li:before {
  content: ' ';
  display: table;
}

.h li:after {
  clear: both;
}

.h h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

@media screen and (max-width: 40em) {
 body {
    width: 100%;
  }
  .h li img {
    position: relative;
    width: 100%;
    float:left;
    margin-right: 0px;
    display:block;
    margin-bottom: 20px;
  }

  .h li p {
    position: relative;
    display: inline;
    float: left;
    margin-top: 15px;
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
 body {
    width: 100%;
  }
}

@media screen and (min-width: 55em) {
  body {
    width: 85%;
  }
}

@media screen and (min-width: 72em) {
  body {
    width: 70%;
  }
}

@media screen and (min-width: 90em) {
  body {
    width: 50%;
  }
}
