<div class="itemcontainer">
    <div class="itemgrid">
          {{ range .Data.Pages }}
              <div class="item photo">
                  <div class="content">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Params.link }}" title="{{ .Title }}">
                        {{ else }}
                        <a href="{{ .Params.link }}" title="{{ .Title }}">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="{{ .Params.imagealt }}" class="photothumb">
                       </a>
                      {{ end }}
                      <div class="title">
                          <h3><a href="{{ .Params.link }}">{{ .Title }}</a></h3>
                      </div>
                      <div class="desc">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
